# Variables in Python

>A variable is basically a name given to any storage area or memory location in a program.

>In simple words, we can say that a variable is a container that contains some information, and whenever we need that information, we use the name of that container to access it.

>For example, you might want the name x to represent 3. To make it so, simply execute the following:

In [1]:
x = 3

In [2]:
x

3

This is called an assignment. We assign the value 3 to the variable x.

Another way of putting this is to say that we bind the variable x to the value (or object) 3. 

After youâ€™ve assigned a value to a variable, you can use the variable in expressions:

In [4]:
x*3

9

>Variable is a kind of a box that can store a single value.

>Variable is  just evaluates to the value it contain

>Values can be stored in variables which can be used in expression or anywhere  , where values are used

In [90]:
# declaring the var
Num = 100
 
# display
print( Num)

100

In [91]:
# declaring the var
Number = 100

# display
print("Before declare: ", Number)

Before declare:  100

In [92]:
# re-declare the var
Number = 120.3
   
print("After re-declare:", Number)

After re-declare: 120.3

# Rules for Creating Variable :

1. Variables should not start with numbers.

2. Variables can start with '_'(underscore)

3. Variables should not start with any special characters except '_'

4. Variables should not be named after default built-in keywords.

5. Variable name should always be at the left side of the assignment operator( = ).

6. Variable name should always start with an capital or small alphabets not with a number or Special symbols.

7. You can also use alphanumeric name for creating a variable.

8. You cannot use any special characters in variable except "_".

9. You cannot use space in defining the variable use underscore inplace of it.

76abc Syntax error
more@=1000 Syntax error

Keywords cannot be variable names.

In [12]:
2x = "jhon"

SyntaxError: invalid decimal literal (1969160982.py, line 1)

In [13]:
_x = 10
_x

10

In [14]:
@h = 25

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3638762657.py, line 1)

In [15]:
pass = 54

SyntaxError: invalid syntax (315675162.py, line 1)

In [2]:
password= 123456
password

123456

In [3]:
123456 = password

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2320231445.py, line 1)

In [18]:
jaye@hg= "sharma"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (551473223.py, line 1)

In [7]:
jaye_hg= "sharma"

In [20]:
jaye_hg

'sharma'

In [21]:
x = 25

In [22]:
x

25

In [2]:
y = "muskan"
y

'muskan'

In [3]:
x2 = "smith"
x2

'smith'

In [4]:
z = "khan"
z

'khan'

In [8]:
y +" "+ z

'muskan khan'

In [88]:
# valid variable name
a = 1
A = 2
A_a= 5
_c = 6
c_ = 7
_z_ = 8
 
print(a, A, A_a) 
print(_c, c_, _z_)

1 2 5
6 7 8

In [89]:
# An integer assignment
age = 45
 
# A floating point
salary = 1456.8
 
# A string
name = "John"
 
print(age)
print(salary)
print(name)

45
1456.8
John

# Multiple Varible assignment

In [12]:
#Till now we care assigning one variable at a time like this..

x = 10
y = 20

In [13]:
x,y = y , x

In [14]:
x

20

In [15]:
y

10

In [16]:
#but we can also assign or declare multiple variable all at once

x,y,z = 10,20,30

In [17]:
z

30

In [10]:
x

10

In [11]:
y

20

### Example

In [2]:
database = ['jhon',1111]

In [3]:
username, pin = database

In [4]:
username

'jhon'

In [5]:
pin

1111

In [22]:
a =b =c = [1,2,3]

In [23]:
a

[1, 2, 3]

In [24]:
b

[1, 2, 3]

In [25]:
c

[1, 2, 3]

but a = b = c not same as a,b,c

In [10]:
a,b,c = [3,4,5]

In [11]:
a

3

In [13]:
b

4

In [14]:
c

5

Lets try this one

In [16]:
cat = ['Black','Fat','Cute']
cat

['Black', 'Fat', 'Cute']

In [17]:
color,size,looks= cat

In [18]:
color

'Black'

In [19]:
size

'Fat'

In [20]:
looks

'Cute'

In [21]:
size

'Fat'

# Varible swapping

In [23]:
a = "xxxx"
a

'xxxx'

In [25]:
b = "yyyy"
b

'yyyy'

In [26]:
#value of a equal to be and b equals to a 

#(we are using previous technique of multiple variable assignments)

a,b = b,a

In [27]:
a

'yyyy'

In [28]:
b

'xxxx'

In [12]:
name = "muskan"
print (name,"!!!")

muskan !!!

In [39]:
print("welcome",name)

welcome muskan

In [13]:
print(name,"welcome")

muskan welcome

In [40]:
print('Python programming',num)

NameError: name 'num' is not defined

In [16]:
#way 1

name = input("Please specify your Name: ")
age = int(input("Please enter your Age: "))
exp = eval(input('Please enter your Experience: '))

print(name, "at the age of", age,"working with an experience of", exp, "years.")

Please specify your Name: muskan
Please enter your Age: 23
Please enter your Experience: 2.5
muskan at the age of 23 working with an experience of 2.5 years.

In [17]:
type(exp)

float

In [43]:
#way 2

name = input("Please specify your Name: ")
age = eval(input("Please enter your Age: "))
exp = eval(input('Please enter your Experience: '))
print('{} at the age of {} working with an experience of {} years'.format(name, age, exp)) 
#format function

Please specify your Name: muskan
Please enter your Age: 15
Please enter your Experience: 4
muskan at the age of 15 working with an experience of 4 years

In [44]:
#way 3 

name = input("Please specify your Name: ")
age = eval(input("Please enter your Age: "))
exp = eval(input('Please enter your Experience: '))
print(f'{name} at the age of {age} working with an experience of {exp} years')

Please specify your Name: muskan
Please enter your Age: 16
Please enter your Experience: 5
muskan at the age of 16 working with an experience of 5 years

In [48]:
#way 4 
name = input("Please specify your Name: ")
age = eval(input("Please enter your Age: "))
exp = eval(input('Please enter your Experience: '))
print('\n',name, "at the age of", age,"working with an experience of", exp, "years.", sep="--")

#putting the separator as "--" instaed of space.

Please specify your Name: muskan
Please enter your Age: 23
Please enter your Experience: 4

--muskan--at the age of--23--working with an experience of--4--years.

In [46]:
print("name is: ",name)
print("Age is: ",age)
print("Experience is: ",exp)

name is:  muskan
Age is:  16
Experience is:  5

In [30]:
#Instead of new line we create new sentence in the same lone using pipe operator.

print("Name is: ",name, end= " | ") 
print("Age is: ",age, end= " | ")
print("Experience is: ",exp)

Name is:  muskan  Age is:  12 | Experience is:  6.0

In [51]:
print("\nName is: ",name, ) 
print("\nAge is: ",age,)
print("\nExperience is: ")

Name is:  muskan

Age is:  23

Experience is:

In [50]:
print("Name is: ",name, ) 
print("\nAge is: ",age,)
print("\nExperience is: ")

Name is:  muskan

Age is:  23

Experience is:

# Typecasting

Changing the datatype from one into another as per our requirement.

In [61]:
x = int('2017')

In [62]:
type(x)

int

In [63]:
type('2017')

str

In [31]:
int(32.252658741356)

32

In [65]:
float('1.99')

1.99

In [66]:
float(4)

4.0

In [53]:
age = 15
print("Age is: ",age)
type(age)

Age is:  15

int

In [54]:
age =" 15"
print("Age is: ",age)
type(age)

Age is:   15

str

In [59]:
name = "muskan"
print("name is: ",name)
print(type(name))

name is:  muskan
<class 'str'>

In [60]:
name = int("muskan")
print("name is: ",name)
print(type(name))

ValueError: invalid literal for int() with base 10: 'muskan'

In [58]:
x = int('2017')
print(type(x))
print(x)

<class 'int'>
2017

## Input and Output Operations

>1.This is a function first takes the input from the user and then evaluate the expression, which means Python automatically identifies whether
user entered a string or a number or a list.

>2.If the input provided is not correct then either syntax error or exception raised by Python.

In [67]:
# Input

name = input('Please enter your name: ')
print('Welcome', name, '!!!')

Please enter your name: muskan
Welcome muskan !!!

In [68]:
#\n creates a new line
name = input('Please enter your name: ')
print('\nWelcome', name, '!!!')

Please enter your name: muskan

Welcome muskan !!!

In [82]:
num = input('Please enter your address: ')
print('\nAddress is', num)

Please enter your address: Thane

Address is Thane

In [69]:
print("Welcome",name)

Welcome muskan

In [70]:
type(name)

str

In [71]:
age = input("Please enter your Age: ")
print(age)
type(age)

Please enter your Age: 15
15

str

In [74]:
sales = input("Sales Value is: ")
print("Sales is", sales,"Rs.")
print(type(sales))

Sales Value is: 25000
Sales is 25000 Rs.
<class 'str'>

### int()

In [75]:
sales = int(input("Sales Value is: "))
print("Sales is", sales,"Rs.")
print(type(sales))

Sales Value is: 25000
Sales is 25000 Rs.
<class 'int'>

In [76]:
num = int(input('Please enter a number between 0 to 10: '))
print('\nThe Squared value of the number is', num*num)

Please enter a number between 0 to 10: 1

The Squared value of the number is 1

In [78]:
sales = int(input("Sales Value is: "))
print("Sales is", sales,"Rs.")

Sales Value is: 23000.0

ValueError: invalid literal for int() with base 10: '23000.0'

The int() function in Python is used to convert a value to an integer.

However, in your case, you are trying to convert a floating-point number (a number with a decimal point) to an integer using int(). 

The error is occurring because the int() function cannot directly convert a string representation of a floating-point number (like '23000.0') to an integer.

If you want to accept a floating-point number as input, you should use the float() function instead of int()

Here's how you can modify your code:

### Float()

In [79]:
sales = float(input("Sales Value is: "))
print("Sales is", sales,"Rs.")

Sales Value is: 25000.0
Sales is 25000.0 Rs.

In [80]:
sales = float(input("Sales Value is: "))
print("Sales is", sales,"Rs.")

Sales Value is: 2300
Sales is 2300.0 Rs.

# eval()

>The eval() method parses the expression passed to it and runs python expression(code) within the program.

Evaluator operator is a function which evaluate the input supplied by the user if it is integer it assigned 'int' datatype to it and if it is floating it will assign 'float' datatyppe to it.

In [85]:
marks=eval(input("Please enter your marks in Percentage: "))
print("Your score is ",marks)
type(marks)

Please enter your marks in Percentage: 34
Your score is  34

int

In [86]:
marks=eval(input("Please enter your marks in Percentage: "))
print("Your score is ",marks)
type(marks)

Please enter your marks in Percentage: 85.0
Your score is  85.0

float

In [81]:
num = eval(input('Please enter a number between 0 to 10: '))
print('\nThe Squared value of the number is', num*num)

Please enter a number between 0 to 10: 0.23

The Squared value of the number is 0.0529

In [1]:
name = input("Please specify your Name: ")
age = int(input("Please enter your Age: "))
exp = eval(input('Please enter your Experience: '))
print('{} at the age of {} working with an experience of {} years'.format(name, age, exp))  #format function

Please specify your Name: muskan
Please enter your Age: 34
Please enter your Experience: 5
muskan at the age of 34 working with an experience of 5 years

# Questions

1. Create a variable called break and assign it a value 5. See what happens and find out the reason behind the behavior that you see.

In [29]:
break = 5

SyntaxError: invalid syntax (2709188746.py, line 1)

we cannot use break as a variable name because it is a python keyword.

2. Answer which of these are invalid variable names:
_nation1record
record1
record_one
record-one
record^one
continue

In [31]:
_nation =1
_nation

1

In [32]:
1record=2
1record

SyntaxError: invalid decimal literal (112220481.py, line 1)

In [33]:
record1=3
record1

3

In [34]:
record_one=4
record_one

4

In [35]:
record-one=5
record-one

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3361198509.py, line 1)

In [36]:
record^one=6
record^one

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3787437291.py, line 1)

In [37]:
continue=7

SyntaxError: invalid syntax (3191895663.py, line 1)

3. Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variables

In [30]:
birth_year=2000
current_year=2023
age = current_year - birth_year
print("Your age is:", age)

Your age is: 23

4.Store your first, middle and last name in three different variables and then print your full name using these variables

In [18]:
first_name = "Muskan"
middle_name = "Afaque"
Last_name = "Ansari"

print(first_name + middle_name + Last_name)

MuskanAfaqueAnsari

In [7]:
first_name = "Muskan"
middle_name = "Afaque"
Last_name = "Ansari"

In [10]:
first_name+"  "+middle_name

'Muskan  Afaque'

In [31]:
a = eval(input("Enter the data: "))#str
print(a)
print(type(a))

Enter the data: 2.9
2.9
<class 'float'>