>A variable can hold different types of values. For example,a person's name must be stored as a string whereas it's id must be stored as an integer.

>Python provides various standard data types that define the storage method on each of them.the data types defined in Python are given below:

# Numbers

Number stores numeric values. Python creates number objects when a number assigned to a variable.For example;
a=3, b=5 #a and b are number objects.
Python supports 4 types of numeric data.

>int(signed integers like 10,2,12,etc.)

>float(float is used to store floating point numbers like 1.9, 9.203,15.2,etc.)

>complex(complex numbers like 2.14j,2.0 + 2.3j,etc.)

A complex number contains an ordered pair i.e.x+iy where x and y denote real and imaginary parts respectively.

## interger

In [1]:
a = 10

In [2]:
type(a)

int

In [3]:
b = 30
print(a,b)

10 30

In [4]:
a
b

30

In [5]:
print(a)
print(b)

10
30

In [6]:
a + b

40

In [7]:
a **2

100

In [8]:
-3**2

-9

In [9]:
(-3)**2

9

Note that the exponentiation operator binds tighter than the negation (unary minus), so -3** 2 is in fact the same as -(3** 2).

If you want to calculate (-3)** 2, you must say so explicitly.

In [10]:
print("Arithmetic operations on any number\n")

print("========="*10,'\n')

print("Addition :", a+b,'\n')

print("Subtraction :",a-b,'\n')

print("Multiplication :",a*b,'\n')

print("Division :",a/b,'\n')

print("Power :",a**3,'\n')

#it dont take decimal values it only takes integer
print("Floor Division :",a//b,'\n')

#modulus is remainder of division
print("Modulus :",b%a,'\n')

Arithmetic operations on any number

==========================================================================================

Addition : 40

Subtraction : -20

Multiplication : 300

Division : 0.3333333333333333

Power : 1000

Floor Division : 0

Modulus : 0

In [11]:
abs(-12)

12

Integer divides integer but gives float as a output

In [13]:
10/2

5.0

In [14]:
10/6

1.6666666666666667

In [15]:
round(10/6,2)

1.67

In [16]:
10//6

1

## Float

>Number with Decimals

In [2]:
a = 10.5
b = 7.5

In [3]:
type(a)

float

In [4]:
a+b

18.0

In [5]:
b/a

0.7142857142857143

In [6]:
print('Arithmetic operations on any number\n')

print('========'*10,'\n')

print('A is',a,"and","B is",b,"\n")

print('Addition :',a+b,'\n')

print('Subtraction :',a-b,'\n')

print('Multiplication :',a*b,'\n')

print('Division :',a/b,'\n')

print('Power :',a**3,'\n')

print('Floor Division :',a//b,'\n')

#modulus is remainder of division
print('Modulus :',a%b,'\n')

Arithmetic operations on any number

================================================================================

A is 10.5 and B is 7.5

Addition : 18.0

Subtraction : 3.0

Multiplication : 78.75

Division : 1.4

Power : 1157.625

Floor Division : 1.0

Modulus : 3.0

In [22]:
#float gives float as output

1.0/2.0

0.5

In [23]:
#integer devides float but gives float as output

1/2.0

0.5

In [24]:
1.0/2

0.5

In [25]:
#integer devides float but gives float as output

1/2

0.5

## Complex

>Where you can use real and imaginary parts

>Complex numbers are used for electrical signal processing, almost all of electrical rely heavily on complex number calculations

In [27]:
c1 = 2+3j
c2 = 5-6j

In [28]:
c1

(2+3j)

In [29]:
c2

(5-6j)

In [30]:
type(c1)

complex

In [31]:
c3= c1+c2
print(c3)

(7-3j)

In [32]:
c3= c1-c2
print(c3)

(-3+9j)

In [33]:
c3.real

-3.0

In [34]:
c3.imag

9.0

In [35]:
print("Addition :",c1+c2)

print("Subtraction :",c1-c2)

print("Multiplication :",c1*c2)

print("Division :",c1/c2)

Addition : (7-3j)
Subtraction : (-3+9j)
Multiplication : (28+3j)
Division : (-0.13114754098360654+0.44262295081967207j)

# Datatype:
    
>immutable : numbers ,string ,tuples 

>mutable: List ,Dictionaries,sets

If the values has been assigned to that datatype and it cannot be changed then it is called Immutable datatype.

The best example is tuple , if a value is present in the tuple then you cannot update them.

This is some what similar to a fixed list where where you cannot modify the existing values.

.Types of Immutable Datatypes :

1 -Numeric
2 -String 
3 -Tuple

## Mutable

If the vales has been assign to that datatype and it can be change then it is called mutable datatype.
Types of mutable Datatypes

1-List
2-Dictionary
3-Set

## Strings

String can be defined as a sequence of characters represented in a quotation marks.In python, we can use single or double quotes to define a string.

The operator * is known as repitition operator as the operation "Python"*2 returns "PythonPython"

In [25]:
a = "Python"
b = 'Python'

In [26]:
type(a)

str

In [27]:
type(b)

str

In [28]:
print(a)

Python

In [29]:
print(b*5)

PythonPythonPythonPythonPython

In [30]:
c = a + b
print("Addition of a and b is: ",c)

Addition of a and b is:  PythonPython

## Booleans


>Python implements all of the usual operators for the boolean logic, but uses English symbols rather than symbols(&&,||,etc.)

In [31]:
a = True
b = False

In [32]:
a

True

In [33]:
b

False

In [34]:
print(type(a))

<class 'bool'>

In [35]:
p = 30
q = 40

In [36]:
p>50

False

In [37]:
q<100

True

Operations performed on Boolean datatype : AND, OR, NOT

>AND = All my conditions are True.

>OR = Either of condition is True.

>NOT = Just opposite

# Data Structures

1 - List         []
2 - Tuple        ()
3 - Set          {}
4 - Dictionary   {key:value}
5  -String       ("")

# List

>[ ] Ordered, Allows Duplicates, Mutable

>1.Lists are just like arrays, declared in other languages.

In [38]:
a = [1,2,3,1,2,3, 'new', 'old', 13.5, 12+13j, True]
a

[1, 2, 3, 1, 2, 3, 'new', 'old', 13.5, (12+13j), True]

In [40]:
type(a)

list

In [42]:
#way 1 
empty_list = []
print (empty_list)

[]

# Tuples


>The items are surrounded in paranthesis().

>A tuple is an (immutable) ordered list of values.i.e, Once you define a tuple I cannot change it in a future.

In [43]:
# An empty tuple 
empty_tuple = () 
print (empty_tuple)

()

In [44]:
# Creating non-empty tuples 
  
# One way of creation 
tup = 'python', 'State'
print(tup)

('python', 'State')

In [45]:
# Another for doing the same 
tup = ('python', 'State') 
print(tup)

('python', 'State')

In [46]:
t = (5, 6)     
print(type(t))

<class 'tuple'>

## Dictionaries {Key:Value}


>1.Dictionaries in Python is an unordered collection of data values. used to store data values like a map, whch unlike other data.

>2.Types that hold only single value as an element Dictionary holds key value:pair value.

In [47]:
Dict = {}  # Creating an empty Dictionary 
print("Empty Dictionary: ") 
print(Dict)

Empty Dictionary:
{}

In [48]:
Dict = dict({1: 'State', 2: 'Street', 3:'Bellandur'}) # with dict() method 
print(Dict)

{1: 'State', 2: 'Street', 3: 'Bellandur'}

In [49]:
Dict = dict([(1, 'State'), (2, 'Street')]) # with each item as a Pair  
print(Dict)

{1: 'State', 2: 'Street'}

In [52]:
# Create a new dictionary with some data
d = {'cat': 'cute', 'dog': 'furry'}
d

{'cat': 'cute', 'dog': 'furry'}

In [53]:
# Get an entry from a dictionary; prints "cute"
print(d['cat'])

cute

In [54]:
# Check if a dictionary has a given key; prints "True"
print('rat' in d)

False

In [56]:
# Set an entry in a dictionary
d['fish'] = 'wet'    
print(d['fish'])

wet

In [57]:
print(d['monkey'])

KeyError: 'monkey'

In [59]:
#Example of dictionary family members and their ages
x = {"Dad":42 , "Mom":39,"Sister":24,"Me":21}
x

{'Dad': 42, 'Mom': 39, 'Sister': 24, 'Me': 21}

In [60]:
x['Dad']

42

## Set

In [1]:
a = {1,2,3,4,5,6}

In [2]:
type(a)

set